@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style-type: none;
  outline: none;
  font-family: "Inter", sans-serif;
  color: #000;
}

body {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  margin-bottom: 373px;
}

@media (max-width: 1920px) {
  html {
    font-size: 0.8333vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

.container {
  position: relative;
  z-index: 2;
}
.container .hero-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.container .hero-block .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 114px;
  padding-bottom: 10px;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
  border-bottom: 1px solid #000;
  width: 100%;
}
.container .hero-block .header .header-con {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  max-width: 1714px;
}
.container .hero-block .header .header-con .header-infa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 53%;
}
.container .hero-block .header .header-con .header-infa .nav-bar {
  display: flex;
  gap: 34px;
  flex: 1;
}
.container .hero-block .header .header-con .header-infa .nav-bar li a {
  font-size: 20px;
  font-weight: 300;
}
.container .hero-block .header .header-con .header-infa .nav-bar li a:hover {
  border-bottom: 1px solid #000;
}
.container .hero-block .header .header-con .header-infa .burger-menu {
  display: none;
}
@media (max-width: 900px) {
  .container .hero-block .header {
    display: none;
  }
}
.container .hero-block .header-mobile {
  display: none;
  width: 100%;
}
.container .hero-block .header-mobile .header-mobile-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}
.container .hero-block .header-mobile .header-mobile-con .logo {
  padding-right: 20px;
}
.container .hero-block .header-mobile .header-mobile-con .b-a, .container .hero-block .header-mobile .header-mobile-con .bar:after, .container .hero-block .header-mobile .header-mobile-con .bar:before, .container .hero-block .header-mobile .header-mobile-con .bar {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: #000;
}
.container .hero-block .header-mobile .header-mobile-con .menu-collapsed {
  transition: all 0.25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  margin-bottom: 100px;
  cursor: pointer;
}
.container .hero-block .header-mobile .header-mobile-con .menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}
.container .hero-block .header-mobile .header-mobile-con .bar {
  position: fixed;
  left: 12px;
  top: 24px;
  margin-top: 20px;
  margin-left: 20px;
}
.container .hero-block .header-mobile .header-mobile-con .bar:before {
  top: -8px;
}
.container .hero-block .header-mobile .header-mobile-con .bar:after {
  top: 8px;
}
.container .hero-block .header-mobile .header-mobile-con .b-a-expanded, .container .hero-block .header-mobile .header-mobile-con .menu-expanded .bar:after, .container .hero-block .header-mobile .header-mobile-con .menu-expanded .bar:before {
  transition: all 0.25s;
  top: 0px;
}
.container .hero-block .header-mobile .header-mobile-con .menu-expanded {
  transition: all 0.25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.container .hero-block .header-mobile .header-mobile-con .menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.container .hero-block .header-mobile .header-mobile-con .menu-expanded a {
  transition: all 0.15s;
  text-decoration: none;
  font-size: 24px;
  padding: 2px;
  color: #fff;
  display: block;
}
.container .hero-block .header-mobile .header-mobile-con .menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.container .hero-block .header-mobile .header-mobile-con .menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.container .hero-block .header-mobile .header-mobile-con .menu-expanded .bar:before {
  transform: rotate(45deg);
}
.container .hero-block .header-mobile .header-mobile-con .menu-expanded .bar:after {
  transform: rotate(-45deg);
}
.container .hero-block .header-mobile .header-mobile-con nav {
  padding-top: 70px;
}
.container .hero-block .header-mobile .header-mobile-con .row {
  padding-top: 150px;
}
.container .hero-block .header-mobile .header-mobile-con h1 {
  font-size: 3em;
}
.container .hero-block .header-mobile .header-mobile-con h3 {
  color: #999;
}
.container .hero-block .header-mobile .header-mobile-con p {
  line-height: 160%;
  letter-spacing: 1px;
}
@media (max-width: 900px) {
  .container .hero-block .header-mobile {
    display: flex;
  }
}
.container .hero-block .hero-block-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 52px 20px 132px 20px;
  gap: 113px;
  max-width: 1714px;
  width: 100%;
}
.container .hero-block .hero-block-con .profile-subscriptions {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
}
.container .hero-block .hero-block-con .profile-subscriptions .profile-block-edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 113px;
}
.container .hero-block .hero-block-con .profile-subscriptions .profile-block-edit-btn .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.container .hero-block .hero-block-con .profile-subscriptions .profile-block-edit-btn .profile .ava-profile {
  max-width: 282px;
  width: 100%;
  height: 282px;
}
.container .hero-block .hero-block-con .profile-subscriptions .profile-block-edit-btn .profile .profile-name {
  font-size: 30px;
  font-weight: 500;
}
.container .hero-block .hero-block-con .profile-subscriptions .profile-block-edit-btn .edit-profile {
  background: #a94b00;
  border-radius: 10px;
  max-width: 245px;
  width: 100%;
  height: 57px;
  color: #fff;
  transition: ease-in-out 0.2s;
}
.container .hero-block .hero-block-con .profile-subscriptions .profile-block-edit-btn .edit-profile:hover {
  background: #c1752a;
}
.container .hero-block .hero-block-con .profile-subscriptions .your-subscriptions {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 365px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 22px 32px;
  border-radius: 20px;
  gap: 42px;
}
.container .hero-block .hero-block-con .profile-subscriptions .your-subscriptions .title-your-subscriptions {
  font-size: 20px;
  font-weight: 500;
}
.container .hero-block .hero-block-con .profile-subscriptions .your-subscriptions .subscriptions {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.container .hero-block .hero-block-con .profile-subscriptions .your-subscriptions .subscriptions .profile-sub {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.container .hero-block .hero-block-con .added {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.container .hero-block .hero-block-con .added .title-added {
  font-size: 35px;
}
.container .hero-block .hero-block-con .added .recipes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe {
  border-radius: 20px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .bg-buter {
  transition: 1s;
  display: block;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .bg-buter:hover {
  transform: scale(1.1);
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  gap: 16px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 20px 20px;
  height: 170px;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish h1 {
  color: #fff;
  max-width: 500px;
  width: 100%;
  font-size: 35px;
  font-weight: 500;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish .time-cook {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish .time-cook .cook-time-black {
  display: none;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish .time-cook p {
  color: #fff;
  font-size: 20px;
}
.container .hero-block .hero-block-con .added .recipes-btn .recipes .recipes-hidden {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.container .hero-block .hero-block-con .added .recipes-btn .show-hidden-btn {
  max-width: 149px;
  width: 100%;
  height: 59px;
  border-radius: 10px;
  background: #a94b00;
  transition: ease-in-out 0.2s;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.container .hero-block .hero-block-con .added .recipes-btn .show-hidden-btn:hover {
  background: #c1752a;
}

@media (max-width: 900px) {
  .container .hero-block header {
    justify-content: center;
    width: 100%;
  }
  .container .hero-block header .header-con .header-infa {
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
  }
  .container .hero-block header .header-con .header-infa .nav-bar {
    display: none;
  }
  .container .hero-block header .header-con .header-infa .burger-menu {
    display: flex;
  }
  .container .hero-block .hero-block-con .profile-subscriptions {
    flex-direction: column;
    gap: 40px;
  }
  .container .hero-block .hero-block-con .profile-subscriptions .your-subscriptions {
    max-width: 1714px;
    width: 100%;
  }
  .container .hero-block .hero-block-con .profile-subscriptions .your-subscriptions .subscriptions {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .hero-block .hero-block-con .added {
    gap: 30px;
  }
  .container .hero-block .hero-block-con .added .title-added {
    font-size: 40px;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe {
    max-width: 513px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .bg-buter {
    max-width: 513px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish {
    position: relative;
    margin: 0;
    background: #fff;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish h1 {
    color: #000;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish .time-cook .cook-time {
    display: none;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish .time-cook .cook-time-black {
    display: flex;
  }
  .container .hero-block .hero-block-con .added .recipes-btn .recipes .recipe .infa-block-dish .time-cook p {
    color: #000;
  }
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 373px;
  background: url(/img/bg-burger-footer.png) no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  bottom: 0;
}
footer .footer-con {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
  padding: 0px 20px 38px 20px;
  gap: 10px;
  max-width: 1714px;
  width: 100%;
}
footer .footer-con .logo-inst {
  display: flex;
  align-items: flex-end;
  gap: 29px;
}
footer .footer-con .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-con .text p {
  color: #fff;
}/*# sourceMappingURL=profile.css.map */